*{padding: 0;margin: 0;box-sizing: border-box;}
.container{
    width: 100%;
    height: 100vh;
}
.header{
    height: 30px;
    width: 100%;
    background-color: purple;
    justify-content: center;
    background-origin: padding-box;
}